---
title: " | people"
---
{{!-- <li class="vertical left person">
  <span class="name">{{ people.person.1.name }}</span>
  <span class="title">{{ people.person.1.title }}</span>
  <a href="{{ people.person.1.twitter }}" class="twitter">T</a>
  <img src="img/mug-shots/{{ people.person.1.image }}">
</li> --}}

<div class="ppl-wrap clear-fix">

  <div class="ppl-outer ppl-block-1">
    <div class="person vertical">
      <div class="person-text">
        <span class="person-name">{{ people.person.1.name }}</span>
        <span class="person-title">{{ people.person.1.title }}</span>
      </div> <!-- end .person-text -->
      <img src="../img/mug-shots/{{ people.person.1.image }}" class="mugshot"> 
    </div> <!-- end .person .vertical -->

    <div class="person horizontal">
      <div class="person-text">
        <span class="person-name">{{ people.person.1.name }}</span>
        <span class="person-title">{{ people.person.1.title }}</span>
      </div> <!-- end .person-text -->
      <img src="../img/mug-shots/{{ people.person.1.image }}" class="mugshot">
    </div> <!-- end .person .horizontal -->
  </div> <!-- end .ppl-block-1 -->

  <div class="ppl-outer ppl-block-2">
    <div class="person vertical">
      <div class="person-text">
        <span class="person-name">{{ people.person.1.name }}</span>
        <span class="person-title">{{ people.person.1.title }}</span>
      </div> <!-- end .person-text -->
      <img src="../img/mug-shots/{{ people.person.1.image }}" class="mugshot"> 
    </div> <!-- end .person .vertical -->

    <div class="person horizontal">
      <div class="person-text">
        <span class="person-name">{{ people.person.1.name }}</span>
        <span class="person-title">{{ people.person.1.title }}</span>
      </div> <!-- end .person-text -->
      <img src="../img/mug-shots/{{ people.person.1.image }}" class="mugshot">
    </div> <!-- end .person .horizontal -->
  </div> <!-- end .ppl-block-2 -->

  <div class="ppl-outer ppl-block-3">
    <div class="person vertical">
      <div class="person-text">
        <span class="person-name">{{ people.person.1.name }}</span>
        <span class="person-title">{{ people.person.1.title }}</span>
      </div> <!-- end .person-text -->
      <img src="../img/mug-shots/{{ people.person.1.image }}" class="mugshot"> 
    </div> <!-- end .person .vertical -->

    <div class="person horizontal">
      <div class="person-text">
        <span class="person-name">{{ people.person.1.name }}</span>
        <span class="person-title">{{ people.person.1.title }}</span>
      </div> <!-- end .person-text -->
      <img src="../img/mug-shots/{{ people.person.1.image }}" class="mugshot">
    </div> <!-- end .person .horizontal -->
  </div> <!-- end .ppl-block-3 -->

  <div class="ppl-outer ppl-block-4">
    <div class="person vertical">
      <div class="person-text">
        <span class="person-name">{{ people.person.1.name }}</span>
        <span class="person-title">{{ people.person.1.title }}</span>
      </div> <!-- end .person-text -->
      <img src="../img/mug-shots/{{ people.person.1.image }}" class="mugshot"> 
    </div> <!-- end .person .vertical -->

    <div class="person horizontal">
      <div class="person-text">
        <span class="person-name">{{ people.person.1.name }}</span>
        <span class="person-title">{{ people.person.1.title }}</span>
      </div> <!-- end .person-text -->
      <img src="../img/mug-shots/{{ people.person.1.image }}" class="mugshot">
    </div> <!-- end .person .horizontal -->
  </div> <!-- end .ppl-block-4 -->

  <div class="ppl-outer ppl-block-5">
    <div class="person vertical">
      <div class="person-text">
        <span class="person-name">{{ people.person.1.name }}</span>
        <span class="person-title">{{ people.person.1.title }}</span>
      </div> <!-- end .person-text -->
      <img src="../img/mug-shots/{{ people.person.1.image }}" class="mugshot"> 
    </div> <!-- end .person .vertical -->

    <div class="person vertical">
      <div class="person-text">
        <span class="person-name">{{ people.person.1.name }}</span>
        <span class="person-title">{{ people.person.1.title }}</span>
      </div> <!-- end .person-text -->
      <img src="../img/mug-shots/{{ people.person.1.image }}" class="mugshot"> 
    </div> <!-- end .person .vertical -->

    <div class="person horizontal">
      <div class="person-text">
        <span class="person-name">{{ people.person.1.name }}</span>
        <span class="person-title">{{ people.person.1.title }}</span>
      </div> <!-- end .person-text -->
      <img src="../img/mug-shots/{{ people.person.1.image }}" class="mugshot"> 
    </div> <!-- end .person .horizontal -->
  </div> <!-- end .ppl-block-5 -->

  <div class="ppl-outer ppl-block-6">
    <div class="person vertical">
      <div class="person-text">
        <span class="person-name">{{ people.person.1.name }}</span>
        <span class="person-title">{{ people.person.1.title }}</span>
      </div> <!-- end .person-text -->
      <img src="../img/mug-shots/{{ people.person.1.image }}" class="mugshot"> 
    </div> <!-- end .person .vertical -->

    <div class="person vertical">
      <div class="person-text">
        <span class="person-name">{{ people.person.1.name }}</span>
        <span class="person-title">{{ people.person.1.title }}</span>
      </div> <!-- end .person-text -->
      <img src="../img/mug-shots/{{ people.person.1.image }}" class="mugshot"> 
    </div> <!-- end .person .vertical -->

    <div class="person horizontal">
      <div class="person-text">
        <span class="person-name">{{ people.person.1.name }}</span>
        <span class="person-title">{{ people.person.1.title }}</span>
      </div> <!-- end .person-text -->
      <img src="../img/mug-shots/{{ people.person.1.image }}" class="mugshot"> 
    </div> <!-- end .person .horizontal -->
  </div> <!-- end .ppl-block-6 -->

  <div class="ppl-outer ppl-block-7">
    <div class="person horizontal">
      <div class="person-text">
        <span class="person-name">{{ people.person.1.name }}</span>
        <span class="person-title">{{ people.person.1.title }}</span>
      </div> <!-- end .person-text -->
      <img src="../img/mug-shots/{{ people.person.1.image }}" class="mugshot"> 
    </div> <!-- end .person .horizontal -->

    <div class="ppl-text"></div> <!-- end .ppl-text -->
  </div> <!-- end .ppl-block-7 -->

  <div class="ppl-outer ppl-block-8">
    <div class="person horizontal">
      <div class="person-text">
        <span class="person-name">{{ people.person.1.name }}</span>
        <span class="person-title">{{ people.person.1.title }}</span>
      </div> <!-- end .person-text -->
      <img src="../img/mug-shots/{{ people.person.1.image }}" class="mugshot"> 
    </div> <!-- end .person .horizontal -->

    <div class="ppl-text"></div> <!-- end .ppl-text -->
  </div> <!-- end .ppl-block-8 -->

</div> {{!-- end .ppl-wrap --}}