---
title: " | people"
---
<ul class="people clear-fix">

  <li class="vertical left person">
    <span class="name">{{ people.person.1.name }}</span>
    <span class="title">{{ people.person.1.title }}</span>
    <a href="{{ people.person.1.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.1.image }}">
  </li>

  <li class="horizontal left person">
    <span class="name">{{ people.person.2.name }}</span>
    <span class="title">{{ people.person.2.title }}</span>
    <a href="{{ people.person.2.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.2.image }}">
  </li>

  <li class="small-square left person">
    <span class="name">{{ people.person.3.name }}</span>
    <span class="title">{{ people.person.3.title }}</span>
    <a href="{{ people.person.3.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.3.image }}">
  </li>

  <li class="small-square left person blank">
  </li>

  <li class="small-square left person">
    <span class="name">{{ people.person.4.name }}</span>
    <span class="title">{{ people.person.4.title }}</span>
    <a href="{{ people.person.4.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.4.image }}">
  </li>

  <li class="vertical left person">
    <span class="name">{{ people.person.5.name }}</span>
    <span class="title">{{ people.person.5.title }}</span>
    <a href="{{ people.person.5.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.5.image }}">
  </li>

  <li class="small-square left person blank">
  </li>

  <li class="small-square left person">
    <span class="name">{{ people.person.6.name }}</span>
    <span class="title">{{ people.person.6.title }}</span>
    <a href="{{ people.person.6.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.6.image }}">
  </li>

  <li class="large-square left person">
    {{{ people.copy-1 }}}
  </li>

  <li class="small-square left person">
    <span class="name">{{ people.person.8.name }}</span>
    <span class="title">{{ people.person.8.title }}</span>
    <a href="{{ people.person.8.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.8.image }}">
  </li>

  <li class="small-square left person">
    <span class="name">{{ people.person.9.name }}</span>
    <span class="title">{{ people.person.9.title }}</span>
    <a href="{{ people.person.9.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.9.image }}">
  </li>

  <li class="small-square left person blank">
  </li>

  <li class="vertical left person">
    <span class="name">{{ people.person.10.name }}</span>
    <span class="title">{{ people.person.10.title }}</span>
    <a href="{{ people.person.10.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.10.image }}">
  </li>
  
  <li class="horizontal left person">
    <span class="name">{{ people.person.0.name }}</span>
    <span class="title">{{ people.person.0.title }}</span>
    <a href="{{ people.person.0.twitter }}" class="twitter">T</a>
    <img src="img/mug-shots/{{ people.person.0.image }}">
  </li>

  <li class="large-square left person people-cta">
    <div class="people-cta-inner">
      {{{ people.cta }}}
    </div>
  </li>

  {{#if people.person.11.name }}
    <li class="vertical left person">
      <span class="name">{{ people.person.7.name }}</span>
      <span class="title">{{ people.person.7.title }}</span>
      <a href="{{ people.person.7.twitter }}" class="twitter">T</a>
      <img src="img/mug-shots/{{ people.person.7.image }}">
    </li>
  {{else}}
    <li class="small-square left person">
      <span class="name">{{ people.person.7.name }}</span>
      <span class="title">{{ people.person.7.title }}</span>
      <a href="{{ people.person.7.twitter }}" class="twitter">T</a>
      <img src="img/mug-shots/{{ people.person.7.image }}">
    </li>
  {{/if}}  

  {{#if people.person.11.name }}
    <li class="small-square left person">
      <span class="name">{{ people.person.11.name }}</span>
      <span class="title">{{ people.person.11.title }}</span>
      <a href="{{ people.person.11.twitter }}" class="twitter">T</a>
      <img src="img/mug-shots/{{ people.person.11.image }}">
    </li>  
  {{/if}}

  {{#if people.person.11.name }}
    <li class="vertical left person">
      <span class="name">{{ people.person.12.name }}</span>
      <span class="title">{{ people.person.12.title }}</span>
      <a href="{{ people.person.12.twitter }}" class="twitter">T</a>
      <img src="img/mug-shots/{{ people.person.12.image }}">
    </li>  
  {{/if}}
  
  {{#if people.person.11.name }}
    <li class="small-square left person blank">
    </li>
  {{/if}}

  {{#if people.person.11.name }}
    <li class="horizontal left person">
      <span class="name">{{ people.person.13.name }}</span>
      <span class="title">{{ people.person.13.title }}</span>
      <a href="{{ people.person.13.twitter }}" class="twitter">T</a>
      <img src="img/mug-shots/{{ people.person.13.image }}">
    </li>  
  {{/if}}

  {{#if people.person.11.name }}
    <li class="vertical left person">
      <span class="name">{{ people.person.14.name }}</span>
      <span class="title">{{ people.person.14.title }}</span>
      <a href="{{ people.person.14.twitter }}" class="twitter">T</a>
      <img src="img/mug-shots/{{ people.person.14.image }}">
    </li>  
  {{/if}}

  {{#if people.person.11.name }}
    <li class="small-square left person blank">
    </li>
  {{/if}}

  {{#if people.person.11.name }}
    <li class="vertical left person">
      <span class="name">{{ people.person.15.name }}</span>
      <span class="title">{{ people.person.15.title }}</span>
      <a href="{{ people.person.15.twitter }}" class="twitter">T</a>
      <img src="img/mug-shots/{{ people.person.15.image }}">
    </li>  
  {{/if}}

  {{#if people.person.11.name }}
    <li class="large-square left person">
      {{{ people.copy-2 }}}
    </li>  
  {{/if}}

  {{#if people.person.11.name }}
    <li class="small-square left person">
      <span class="name">{{ people.person.16.name }}</span>
      <span class="title">{{ people.person.16.title }}</span>
      <a href="{{ people.person.16.twitter }}" class="twitter">T</a>
      <img src="img/mug-shots/{{ people.person.16.image }}">
    </li>  
  {{/if}}

  {{#if people.person.11.name }}
    <li class="small-square left person">
      <span class="name">{{ people.person.17.name }}</span>
      <span class="title">{{ people.person.17.title }}</span>
      <a href="{{ people.person.17.twitter }}" class="twitter">T</a>
      <img src="img/mug-shots/{{ people.person.17.image }}">
    </li>  
  {{/if}}

  {{#if people.person.11.name }}
    <li class="vertical left person">
      <span class="name">{{ people.person.18.name }}</span>
      <span class="title">{{ people.person.18.title }}</span>
      <a href="{{ people.person.18.twitter }}" class="twitter">T</a>
      <img src="img/mug-shots/{{ people.person.18.image }}">
    </li>  
  {{/if}}

  {{#if people.person.11.name }}
    <li class="small-square left person">
      <span class="name">{{ people.person.19.name }}</span>
      <span class="title">{{ people.person.19.title }}</span>
      <a href="{{ people.person.19.twitter }}" class="twitter">T</a>
      <img src="img/mug-shots/{{ people.person.19.image }}">
    </li>  
  {{/if}}

  {{#if people.person.11.name }}
    <li class="small-square left person">
      <span class="name">{{ people.person.20.name }}</span>
      <span class="title">{{ people.person.20.title }}</span>
      <a href="{{ people.person.20.twitter }}" class="twitter">T</a>
      <img src="img/mug-shots/{{ people.person.20.image }}">
    </li>  
  {{/if}}

  {{#if people.person.11.name }}
    <li class="horizontal left person">
      <span class="name">{{ people.person.21.name }}</span>
      <span class="title">{{ people.person.21.title }}</span>
      <a href="{{ people.person.21.twitter }}" class="twitter">T</a>
      <img src="img/mug-shots/{{ people.person.21.image }}">
    </li>  
  {{/if}}

  {{#if people.person.11.name }}
    <li class="small-square left person blank">
    </li>
  {{/if}}

  {{#if people.person.11.name }}
    <li class="small-square left person">
      <span class="name">{{ people.person.22.name }}</span>
      <span class="title">{{ people.person.22.title }}</span>
      <a href="{{ people.person.22.twitter }}" class="twitter">T</a>
      <img src="img/mug-shots/{{ people.person.22.image }}">
    </li>  
  {{/if}}

  {{#if people.person.11.name }}
    <li class="small-square left person">
      <span class="name">{{ people.person.23.name }}</span>
      <span class="title">{{ people.person.23.title }}</span>
      <a href="{{ people.person.23.twitter }}" class="twitter">T</a>
      <img src="img/mug-shots/{{ people.person.23.image }}">
    </li>  
  {{/if}}

</ul>